Repository Fatal777/ApplyX: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 80%           # Must maintain 80% coverage
        threshold: 2%         # Allow 2% drop before failing
        if_ci_failed: error   # Fail if CI errors
        
    # Coverage on changed lines (patches)
    patch:
      default:
        target: 70%           # New code must have 70% coverage
        threshold: 5%         # Allow 5% variance
        if_ci_failed: error

# Ignore certain files from coverage
ignore:
  - "backend/app/tasks/**"           # Celery tasks (async, hard to test)
  - "backend/app/db/database.py"     # Database setup
  - "backend/alembic/**"             # Migrations
  - "backend/scripts/**"             # Utility scripts
  - "**/tests/**"                    # Test files themselves
  - "**/__pycache__/**"
  - "**/conftest.py"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  backend:
    paths:
      - backend/app/
    carryforward: true
    
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# GitHub Checks
github_checks:
  annotations: true

req
  backend/requirements.txt
Due: none

Fix deploy: restore edge-tts and remove turn-detector model dependency
  backend/Dockerfile.livekit-agent
  backend/app/agents/interview_agent.py
  backend/requirements.txt
Due: backend

Fix API crash: use livekit-api package, make imports defensive
  backend/app/api/routes/livekit.py
  backend/app/core/livekit_config.py
  backend/requirements.txt
Due: backend

Fix API crash: use livekit-api package, make imports defensive
  backend/app/middleware/security.py
Due: backend

Ops fix: allow livekit status checks and stabilize frontend healthcheck
  frontend/Dockerfile
Due: none

Fix prod frontend: pass Supabase Vite build args in docker compose
  backend/docker-compose.prod.yml
Due: none

sipabase anon
  backend/.env.production.template
  backend/docker-compose.prod.yml
Due: none

changes to slow job search, resume editor back button, persistent navbar across all pages
  backend/alembic/versions/007_add_analyses_tracking.py
  backend/app/agents/interview_agent.py
  backend/app/api/routes/payment.py
  backend/app/middleware/payment_security.py
  backend/app/models/subscription.py
  backend/app/models/user.py
  backend/app/services/job_scraper_service.py
  frontend/src/App.tsx
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/TranscriptionDisplay.tsx
  frontend/src/components/interview/VoiceAgent.tsx
  frontend/src/components/layouts/AppLayout.tsx
  frontend/src/components/shared/UpgradeModal.tsx
  frontend/src/hooks/useSubscription.ts
  frontend/src/pages/ATSTemplates.tsx
  frontend/src/pages/AdminPanel.tsx
  frontend/src/pages/ApplicationsPage.tsx
  frontend/src/pages/Assessments.tsx
  frontend/src/pages/Certifications.tsx
  frontend/src/pages/CollegeSolutions.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Employers.tsx
  frontend/src/pages/InterviewSetup.tsx
  frontend/src/pages/JobApplicationBoard.tsx
  frontend/src/pages/JobPortal.jsx
  frontend/src/pages/Jobs.tsx
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/LivePdfEditor.tsx
  frontend/src/pages/MockInterview.tsx
  frontend/src/pages/Pricing.tsx
  frontend/src/pages/ResumeAnalysis.tsx
  frontend/src/pages/ResumeBuilder.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/services/paymentService.ts
Due: backend, frontend

fix: make Alembic enum comparisons case-insensitive for production compatibility
  backend/alembic/versions/007_add_analyses_tracking.py
Due: none

chore: merge migration heads into single path
  backend/alembic/versions/008_merge_heads.py
Due: none

fix: use keyterms instead of keywords for Deepgram Nova-3 STT
  backend/app/agents/interview_agent.py
Due: backend

feat: interview UI redesign (dark theme, compact agent, scroll fixes) + backend bug fixes
  FREEMIUM_MODEL_PLAN.md
  UNIVERSITY_PLATFORM_PLAN.md
  backend/app/agents/interview_agent.py
  backend/app/agents/interview_prompts.py
  backend/app/api/routes/livekit.py
  backend/app/main.py
  backend/app/services/gradient_service.py
  frontend/src/components/interview/FeedbackView.tsx
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/TranscriptionDisplay.tsx
  frontend/src/components/interview/VoiceAgent.tsx
  frontend/src/pages/InterviewDashboard.tsx
  frontend/src/pages/InterviewSetup.tsx
  frontend/src/pages/MockInterview.tsx
  frontend/src/pages/ResumeAnalysis.tsx
  frontend/src/services/livekitService.ts
Due: backend, frontend

fix: 10-bug sprint — jobs 504, modal scroll, 3/4+1/4 layout, chat scroll, auto-end, scoring, bg questions, cam/mic stop, restart guard
  backend/app/agents/interview_agent.py
  backend/app/agents/interview_prompts.py
  backend/app/api/routes/livekit.py
  backend/app/services/high_perf_search.py
  backend/nginx/conf.d/applyx.conf
  frontend/src/components/interview/FeedbackView.tsx
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/TranscriptionDisplay.tsx
  frontend/src/components/interview/dashboard/QuickStartPanel.tsx
  frontend/src/pages/InterviewDashboard.tsx
  frontend/src/pages/InterviewSetup.tsx
  frontend/src/pages/MockInterview.tsx
Due: backend, frontend

fix: add sticky navbar to FeedbackView so users can navigate back without scrolling
  frontend/src/components/interview/FeedbackView.tsx
Due: frontend

fix: job board India filtering, disable Arbeitnow, fix filters re-search, pagination scroll to top
  backend/app/services/high_perf_search.py
  backend/app/services/job_scraper_service.py
  frontend/src/pages/JobsPage.tsx
Due: backend, frontend

fix: nginx CORS preflight handling + admin seeder email bug
  backend/app/db/admin_seeder.py
  backend/nginx/conf.d/applyx.conf
Due: backend

changes to slow job search, resume editor back button, persistent navbar across all pages
  backend/nginx/conf.d/applyx.conf
Due: none

feat: DB-backed job feed for instant page load + populate task
  backend/app/api/routes/jobs.py
  backend/app/tasks/job_tasks.py
  frontend/src/pages/JobsPage.tsx
  frontend/src/services/jobService.ts
Due: backend, frontend

fix: add GEMINI_MODEL setting to config (fixes Interview AI init)
  backend/app/core/config.py
Due: backend

fix: interview_prompts.py syntax error (stray dot) + frontend healthcheck IPv4
  backend/app/agents/interview_prompts.py
  frontend/Dockerfile
Due: backend

feat: add Forgot Password page with Supabase reset flow
  frontend/src/App.tsx
  frontend/src/pages/ForgotPassword.tsx
Due: frontend

feat: admin plan management, per-persona voices, detailed prompts, smooth transcription
  backend/app/agents/interview_agent.py
  backend/app/agents/interview_prompts.py
  backend/app/api/routes/admin.py
  frontend/src/components/interview/TranscriptionDisplay.tsx
  frontend/src/pages/AdminPanel.tsx
Due: backend, frontend

fix: force mic & camera off on interview end
  frontend/src/components/interview/WebcamDisplay.tsx
  frontend/src/hooks/useLiveKitInterview.ts
Due: frontend

fix: permanent CORS - nginx map directive + always headers on all responses including 502/504 errors
  backend/nginx/conf.d/applyx.conf
Due: none

fix: strip duplicate CORS headers - nginx sole CORS authority with proxy_hide_header
  backend/nginx/conf.d/applyx.conf
Due: none

feat: dynamic role-based interviews + fix 500 errors
  backend/app/agents/interview_agent.py
  backend/app/agents/interview_prompts.py
  backend/app/api/routes/interview.py
  backend/app/api/routes/livekit.py
  backend/app/core/config.py
  backend/app/services/interview_ai_service.py
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/dashboard/QuickStartPanel.tsx
  frontend/src/pages/InterviewSetup.tsx
Due: backend, frontend

fix: apply_plan_limits on admin plan change + fix DB enum for user 10
  backend/app/api/routes/admin.py
Due: backend

fix: interview dashboard content clipped behind fixed navbar - add pt-16
  frontend/src/pages/InterviewDashboard.tsx
Due: frontend

fix: interview prompts now role-agnostic — no more SWE-only questions
  backend/app/agents/interview_prompts.py
Due: backend

debug: add metadata logging to interview agent
  backend/app/agents/interview_agent.py
Due: backend

fix: connect to room before reading metadata — ensures job_role is read
  backend/app/agents/interview_agent.py
Due: backend

fix: 7 interview issues — prompt leak, personas, scroll, sessions, STT
  backend/app/agents/interview_agent.py
  backend/app/agents/interview_prompts.py
  backend/app/api/routes/livekit.py
  frontend/src/components/interview/TranscriptionDisplay.tsx
  frontend/src/components/interview/dashboard/QuickStartPanel.tsx
Due: backend, frontend

fix: correct db import path in livekit.py (app.db.database not app.db.session)
  backend/app/api/routes/livekit.py
Due: backend

fix: security middleware blocking all users — extract real IP from X-Forwarded-For
  backend/app/middleware/security.py
Due: backend

fix: job search now queries DB instead of external APIs
  backend/app/api/routes/jobs.py
  frontend/src/pages/JobPortal.jsx
Due: backend, frontend

fix: resume editor 'server down' popup — add resume-builder to relaxed paths
  backend/app/middleware/security.py
  frontend/src/pages/ResumeEditor.tsx
Due: backend, frontend
