Repository Fatal777/ApplyX: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: add PersonaCard, InterviewSidebar, SuccessStoryCard, TestimonialCard, and TrustLogos components with animations and responsive design
  .gitignore
  backend/.env.example
  backend/Makefile
  backend/app/api/routes/interview_ws.py
  backend/app/core/config.py
  backend/app/core/telemetry.py
  backend/app/db/database.py
  backend/app/main.py
  backend/app/services/ai_service.py
  backend/app/services/speech_service.py
  backend/docker-compose.yml
  backend/k8s/backup.yaml
  backend/k8s/external-secrets.yaml
  backend/k8s/grafana/dashboards/applyx-dashboard.json
  backend/k8s/ingress.yaml
  backend/k8s/network-policies.yaml
  backend/k8s/observability.yaml
  backend/k8s/redis.yaml
  backend/requirements.txt
  frontend/.env.example
  frontend/package.json
  frontend/public/robots.txt
  frontend/src/App.tsx
  frontend/src/components/interview/PersonaCard.tsx
  frontend/src/components/interview/dashboard/InterviewSidebar.tsx
  frontend/src/components/interview/dashboard/QuickStartPanel.tsx
  frontend/src/components/interview/dashboard/SessionHistory.tsx
  frontend/src/components/interview/dashboard/StatsOverview.tsx
  frontend/src/components/ui/SuccessStoryCard.tsx
  frontend/src/components/ui/TestimonialCard.tsx
  frontend/src/components/ui/TrustLogos.tsx
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/InterviewDashboard.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Pricing.tsx
  frontend/src/pages/ResumeAnalysis.tsx
  frontend/vite.config.ts
Due: backend, frontend

Fix frontend Dockerfile - make bun.lockb optional
  frontend/Dockerfile
Due: none

Fix: npm install instead of ci, add env_file to postgres, remove version
  backend/docker-compose.prod.yml
  frontend/Dockerfile
Due: none

Fix: INDIAN_CITIES to ALL_INDIAN_CITIES in JobFilters
  frontend/src/components/jobs/JobFilters.jsx
Due: frontend

Fix: use --env-file flag for docker-compose DB_PASSWORD
  backend/docker-compose.prod.yml
Due: none

Add gunicorn to requirements.txt
  backend/requirements.txt
Due: none

Fix nginx limit_req and add psycopg2-binary
  backend/nginx/conf.d/applyx.conf
  backend/requirements.txt
Due: none

Add missing verify_supabase_token function
  backend/app/core/security.py
Due: backend

Fix: settings.ENV to settings.ENVIRONMENT
  backend/app/main.py
Due: backend

Fix frontend Dockerfile to copy files to shared volume on startup
  frontend/Dockerfile
Due: none

Fix CustomizedResume relationship name to match Resume model
  backend/app/models/application.py
Due: backend

Fix interviewService auth to use supabase.auth.getSession()
  frontend/src/services/interviewService.ts
Due: frontend

Fix supabase import path in interviewService.ts
  frontend/src/services/interviewService.ts
Due: frontend

Fix critical syntax error in AutocompleteTrie class name
  frontend/src/utils/autocompleteTrie.js
Due: frontend

Add subscription modal for 402 payment required errors in interview
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/SubscriptionModal.tsx
Due: frontend

Update pricing to use INR (), standardize subscription modal across app
  frontend/src/components/common/SubscriptionModal.tsx
  frontend/src/pages/Pricing.tsx
Due: frontend

Fix 402 error detection by including HTTP status in error message
  frontend/src/services/interviewService.ts
Due: frontend

Fix subscription modal positioning - center properly in viewport
  frontend/src/components/common/SubscriptionModal.tsx
  frontend/src/components/interview/SubscriptionModal.tsx
Due: frontend

Fix subscription modal centering with flexbox approach
  frontend/src/components/common/SubscriptionModal.tsx
  frontend/src/components/interview/SubscriptionModal.tsx
Due: frontend

Add superadmin account system with admin panel
  backend/alembic/versions/006_add_superadmin_field.py
  backend/app/db/admin_seeder.py
  backend/app/main.py
  backend/app/models/user.py
  frontend/src/App.tsx
  frontend/src/pages/AdminPanel.tsx
Due: backend, frontend

Fix admin panel API URL to use api.applyx.in
  frontend/src/pages/AdminPanel.tsx
Due: frontend

Auto-grant superadmin + Pro+ when admin email logs in via Supabase
  backend/app/models/user.py
Due: backend

Add ADMIN_EMAIL config option for flexible admin email
  backend/app/core/config.py
  backend/app/models/user.py
Due: backend

Fix admin email detection when ADMIN_USERNAME is full email
  backend/app/models/user.py
Due: backend

Fix interview start endpoint - slowapi rate limiter request parameter
  backend/app/api/routes/interview.py
Due: backend

Fix interview audio completion - enable Start Speaking button after AI speaks
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/VoiceAgent.tsx
Due: frontend

Fix interview: audio timeout fallback, mic permission at start, error handling
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/VoiceAgent.tsx
Due: frontend

Add TranscriptionDisplay component for live interview transcript
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/TranscriptionDisplay.tsx
Due: frontend

Enhance Deepgram STT with technical vocabulary keywords for 99% accuracy
  backend/app/services/speech_service.py
Due: backend

Add interview cleanup: webcam/mic stop on exit, tab visibility pause/resume
  frontend/src/components/interview/InterviewRoom.tsx
Due: frontend

Fix S3 empty endpoint_url causing Invalid endpoint error
  backend/app/services/storage.py
Due: backend

Fix HTTPS redirect: Add ProxyHeadersMiddleware to trust nginx proxy headers
  backend/app/main.py
Due: backend

Fix UnboundLocalError in resume_tasks.py - initialize resume before try block
  backend/app/tasks/resume_tasks.py
Due: none

Fix city undefined error: Add defensive null checks to indianCities data functions
  frontend/src/data/indianCities.js
Due: frontend

Fix DDoS protection false positives: increase thresholds, exclude public API endpoints
  backend/app/middleware/security.py
Due: backend

Fix city undefined error: Add default filters with safe property access in JobFilters.jsx
  frontend/src/components/jobs/JobFilters.jsx
Due: frontend

Fix JobCard onClick error, add sort filters to JobPortal
  frontend/src/components/jobs/JobCard.jsx
  frontend/src/pages/JobPortal.jsx
Due: frontend

Fix job search: use fast-search endpoint, fix job URLs, add search keywords
  frontend/src/pages/JobPortal.jsx
Due: frontend

Fix: silently ignore search cancelled errors in featured jobs
  frontend/src/pages/JobsPage.tsx
Due: frontend

Path conditions:
  backend: any of: backend/app/, but not: backend/app/tasks/**, backend/app/db/database.py, backend/alembic/**, backend/scripts/**, **/tests/**, **/__pycache__/**, **/conftest.py
  frontend: any of: frontend/src/, but not: backend/app/tasks/**, backend/app/db/database.py, backend/alembic/**, backend/scripts/**, **/tests/**, **/__pycache__/**, **/conftest.py
