Repository Fatal777/ApplyX: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 80%           # Must maintain 80% coverage
        threshold: 2%         # Allow 2% drop before failing
        if_ci_failed: error   # Fail if CI errors
        
    # Coverage on changed lines (patches)
    patch:
      default:
        target: 70%           # New code must have 70% coverage
        threshold: 5%         # Allow 5% variance
        if_ci_failed: error

# Ignore certain files from coverage
ignore:
  - "backend/app/tasks/**"           # Celery tasks (async, hard to test)
  - "backend/app/db/database.py"     # Database setup
  - "backend/alembic/**"             # Migrations
  - "backend/scripts/**"             # Utility scripts
  - "**/tests/**"                    # Test files themselves
  - "**/__pycache__/**"
  - "**/conftest.py"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  backend:
    paths:
      - backend/app/
    carryforward: true
    
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# GitHub Checks
github_checks:
  annotations: true

Fix Deepgram SDK v5 API - use api_key keyword argument
  backend/test_deepgram.py
Due: none

Fix Deepgram SDK v5 - use dict options instead of PrerecordedOptions
  backend/test_deepgram.py
Due: none

Fix Deepgram SDK - use listen.prerecorded instead of listen.rest
  backend/test_deepgram.py
Due: none

Fix Deepgram SDK v5: use listen.v1.media.transcribe_url
  backend/test_deepgram.py
Due: none

Fix Deepgram SDK v5: use keyword arguments for transcribe_url
  backend/test_deepgram.py
Due: none

Fix sample audio URL to use working Deepgram example
  backend/test_deepgram.py
Due: none

Fix OpenAI version conflict for livekit-plugins-openai compatibility
  backend/requirements.txt
Due: none

Remove obsolete version attribute from docker-compose.yml
  backend/docker-compose.yml
Due: none

Add celery-beat and celery-flower to production docker-compose
  backend/docker-compose.prod.yml
Due: none

Fix interview config modal scroll on small screens
  frontend/src/components/interview/dashboard/QuickStartPanel.tsx
Due: frontend

Fix camera and mic not turning off after interview exit
  frontend/src/components/interview/InterviewRoom.tsx
Due: frontend

Add real-time live transcription with Deepgram WebSocket streaming
  backend/app/api/routes/__init__.py
  backend/app/api/routes/transcription.py
  backend/app/main.py
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/hooks/useRealtimeTranscription.ts
Due: backend, frontend

Fix WebSocket proxy for live transcription
  backend/nginx/conf.d/applyx.conf
Due: none

Fix import paths in livekit.py
  backend/app/api/routes/livekit.py
Due: backend

Fix import: deps to dependencies
  backend/app/api/routes/livekit.py
Due: backend

Add websockets package for live transcription
  backend/requirements.txt
Due: none

Fix trackpad scroll issue in Resume Editor panels
  .gitignore
  DEPLOYMENT_QUICKSTART.md
  PDF_EDITING_IMPLEMENTATION.md
  QUICKSTART_TESTING.md
  README.md
  SCROLL_ISSUE_FIX.md
  SESSION_SUMMARY.txt
  backend/app/api/routes/resumes.py
  backend/app/core/config.py
  frontend/package.json
  frontend/public/apllyxajxio.png
  frontend/src/App.tsx
  frontend/src/components/resume-editor/EditorSidebar.tsx
  frontend/src/components/resume-editor/FormField.tsx
  frontend/src/components/resume-editor/RichTextEditor.tsx
  frontend/src/components/resume-editor/basic/PersonalInfoEditor.tsx
  frontend/src/components/resume-editor/education/EducationEditor.tsx
  frontend/src/components/resume-editor/experience/ExperienceEditor.tsx
  frontend/src/components/resume-editor/index.ts
  frontend/src/components/resume-editor/projects/ProjectsEditor.tsx
  frontend/src/components/resume-editor/skills/SkillsEditor.tsx
  frontend/src/components/resume-preview/ExportToolbar.tsx
  frontend/src/components/resume-preview/ResumePreview.tsx
  frontend/src/components/resume-preview/index.ts
  frontend/src/components/resume-preview/templates/ClassicTemplate.tsx
  frontend/src/components/resume-preview/templates/ModernTemplate.tsx
  frontend/src/components/resume-preview/templates/index.ts
  frontend/src/index.css
  frontend/src/pages/ResumeEditor.tsx
  frontend/src/store/resumeBuilderStore.ts
  frontend/src/types/html2pdf.d.ts
  frontend/src/types/resumeBuilder.ts
  frontend/src/utils/pdfExport.ts
Due: backend, frontend

feat: Implement resume builder with AI-powered parsing, editing, and templating.
  frontend/src/components/resume-editor/basic/PersonalInfoEditor.tsx
  frontend/src/components/resume-preview/templates/ClassicTemplate.tsx
  frontend/src/components/resume-preview/templates/ModernTemplate.tsx
  frontend/src/types/resumeBuilder.ts
Due: frontend

feat: Implement comprehensive resume builder with LLM-based parsing and AI-powered suggestions.
  DO_SERVERLESS_SETUP.md
  backend/alembic/versions/create_resume_builder_20260103.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/resume_builder.py
  backend/app/api/routes/resumes.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/resume_builder.py
  backend/app/schemas/__init__.py
  backend/app/schemas/resume_builder.py
  backend/app/services/resume_parsing_service.py
  frontend/src/App.tsx
  frontend/src/components/resume-editor/basic/PersonalInfoEditor.tsx
  frontend/src/components/resume-preview/ExportToolbar.tsx
  frontend/src/services/resumeBuilderApi.ts
  serverless/packages/ai/interview-agent/__main__.py
  serverless/packages/ai/interview-agent/requirements.txt
  serverless/packages/ai/resume-suggestions/__main__.py
  serverless/packages/ai/resume-suggestions/requirements.txt
  serverless/project.yml
Due: backend, frontend

feat: Add resume suggestion and interview agent serverless functions, and update DO GenAI setup instructions.
  DO_SERVERLESS_SETUP.md
  serverless/packages/ai/interview-agent/__main__.py
  serverless/packages/ai/interview-agent/requirements.txt
  serverless/packages/ai/resume-suggestions/__main__.py
  serverless/packages/ai/resume-suggestions/requirements.txt
  serverless/project.yml
Due: none

feat: Add DigitalOcean serverless functions for AI resume suggestions and a mock interview agent, and update setup documentation.
  DO_SERVERLESS_SETUP.md
  serverless/packages/ai/interview-agent/__main__.py
  serverless/packages/ai/resume-suggestions/__main__.py
Due: none

switch model
  serverless/packages/ai/interview-agent/__main__.py
  serverless/packages/ai/resume-suggestions/__main__.py
Due: none

fixed error in serverless function
  serverless/packages/ai/resume-suggestions/__main__.py
Due: none

ab
  serverless/packages/ai/interview-agent/__main__.py
  serverless/packages/ai/resume-suggestions/__main__.py
Due: none

Add DO serverless and missing env vars to config
  backend/app/core/config.py
Due: backend

Add remaining missing env vars: DB_NAME, ADMIN credentials, GEMINI_API_KEY
  backend/app/core/config.py
Due: backend

Add DB_USER and DB_PASSWORD
  backend/app/core/config.py
Due: backend

Add SUPABASE_ANON_KEY and SUPABASE_SERVICE_KEY
  backend/app/core/config.py
Due: backend

Add DEEPGRAM_MODEL to config
  backend/app/core/config.py
Due: backend

Remove Lovable branding from meta tags
  frontend/index.html
Due: none

Add production domains to CORS origins
  backend/app/core/config.py
Due: backend

Add unified resume flow: ResumeLanding page, Edit in Builder button
  frontend/src/App.tsx
  frontend/src/pages/ResumeAnalysis.tsx
  frontend/src/pages/ResumeLanding.tsx
  frontend/src/services/resumeBuilderApi.ts
Due: frontend

Update Get Started buttons to point to /resume entry page
  frontend/src/pages/Landing.tsx
Due: frontend

Add allowed_extensions_list property to fix upload
  backend/app/core/config.py
Due: backend

Fix: Use builder_document_id from API response for navigation
  frontend/src/pages/ResumeAnalysis.tsx
  frontend/src/services/resumeBuilderApi.ts
Due: frontend

Add real AI job matching: serverless function + backend endpoint
  backend/app/api/routes/resumes.py
  backend/app/core/config.py
  serverless/packages/ai/job-match/__main__.py
  serverless/packages/ai/job-match/requirements.txt
  serverless/project.yml
Due: backend

Update frontend to fetch real job matches from API
  frontend/src/pages/ResumeAnalysis.tsx
Due: frontend

Add real ATS analysis: Workday-style scoring with section scores, keywords, recommendations
  backend/app/api/routes/resumes.py
  backend/app/core/config.py
  frontend/src/pages/ResumeAnalysis.tsx
  serverless/packages/ai/ats-analysis/__main__.py
  serverless/packages/ai/ats-analysis/requirements.txt
  serverless/project.yml
Due: backend, frontend

Fix React infinite loop: add fetch flags to prevent re-renders
  frontend/src/pages/ResumeAnalysis.tsx
Due: frontend

Fix auth: use supabase.auth.getSession() for proper access token
  frontend/src/pages/ResumeAnalysis.tsx
Due: frontend
