Repository Fatal777/ApplyX: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 80%           # Must maintain 80% coverage
        threshold: 2%         # Allow 2% drop before failing
        if_ci_failed: error   # Fail if CI errors
        
    # Coverage on changed lines (patches)
    patch:
      default:
        target: 70%           # New code must have 70% coverage
        threshold: 5%         # Allow 5% variance
        if_ci_failed: error

# Ignore certain files from coverage
ignore:
  - "backend/app/tasks/**"           # Celery tasks (async, hard to test)
  - "backend/app/db/database.py"     # Database setup
  - "backend/alembic/**"             # Migrations
  - "backend/scripts/**"             # Utility scripts
  - "**/tests/**"                    # Test files themselves
  - "**/__pycache__/**"
  - "**/conftest.py"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  backend:
    paths:
      - backend/app/
    carryforward: true
    
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# GitHub Checks
github_checks:
  annotations: true

Fix: prevent featured jobs from being cancelled by user searches (skipAbort option)
  frontend/src/pages/JobsPage.tsx
  frontend/src/services/jobService.ts
Due: frontend

Fix pagination: implement client-side pagination for jobs
  frontend/src/pages/JobPortal.jsx
Due: frontend

Fix accessibility: add visually hidden title to CommandDialog
  frontend/src/components/ui/command.tsx
Due: frontend

Fix: experience undefined, job URLs, sticky sidebar, sort reset pagination
  frontend/src/components/jobs/JobCard.jsx
  frontend/src/pages/JobPortal.jsx
Due: frontend

Fix Scrapy deployment: track settings.py with env vars for API key
  .gitignore
  backend/scrapers/zyte_scrapers/settings.py
Due: none

Fix Zyte scraper integration: use ZYTE_API_KEY env var instead of placeholder
  backend/app/core/config.py
  backend/app/tasks/scraping_tasks.py
Due: backend

Fix pagination UI and add /scraped-jobs endpoint for Zyte-scraped jobs
  backend/app/api/routes/jobs.py
  frontend/src/pages/JobPortal.jsx
Due: backend, frontend

Fix pydantic config: allow extra env vars to prevent validation errors
  backend/app/core/config.py
Due: backend

Add Google OAuth sign-in button to Login and Signup pages
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
Due: frontend

Fix OAuth callback handling: detect tokens in URL hash and redirect properly
  frontend/src/contexts/AuthContext.tsx
Due: frontend

Add Privacy/Terms pages, enhance user profile display, add Arbeitnow job API
  backend/app/services/job_scraper_service.py
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
Due: backend, frontend

Create combined login/signup auth page with tabs, compact non-scrollable design
  frontend/src/App.tsx
  frontend/src/pages/Auth.tsx
Due: frontend

Add SerpAPI Google Jobs, Celery Beat daily automation, Adzuna redirect fix, and job storage task
  backend/app/core/config.py
  backend/app/services/job_scraper_service.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/scraping_tasks.py
Due: backend

Fix spacy model download in Dockerfile
  backend/Dockerfile
Due: none

Fix SQLAlchemy syntax: onupdate instead of on update
  backend/app/models/job.py
Due: backend

Fix Arbeitnow normalizer for Unix timestamps and non-list tags
  backend/app/services/job_scraper_service.py
Due: backend

Add hourly Zyte job fetch task to store spider results in database
  backend/app/tasks/celery_app.py
  backend/app/tasks/scraping_tasks.py
Due: none

Add celery-beat service for scheduled tasks
  backend/docker-compose.yml
Due: none

Fix Zyte API calls to use form data instead of JSON
  backend/app/tasks/scraping_tasks.py
Due: none

Fix job board: realistic stats, remove emojis, fix wave curve overlap
  frontend/src/components/jobs/JobSearch.tsx
  frontend/src/pages/JobsPage.tsx
Due: frontend

Fix search bar styling and remove SerpAPI
  backend/app/services/job_scraper_service.py
  frontend/src/components/jobs/JobSearch.tsx
Due: backend, frontend

Increase job fetch limits from 20 to 50 for all APIs
  backend/app/services/job_scraper_service.py
Due: backend

Fix batch commit to avoid SQLAlchemy parameter limit
  backend/app/tasks/scraping_tasks.py
Due: none

Remove engineering-only filter to accept all job types
  backend/app/tasks/scraping_tasks.py
Due: none

Fix job storage: flush each job and commit every 10
  backend/app/tasks/scraping_tasks.py
Due: none

Fix Celery Beat: remove missing warm_job_cache task and add more keywords
  backend/app/tasks/celery_app.py
Due: none

Fix Celery Beat: use args instead of kwargs to fix AttributeError
  backend/app/tasks/celery_app.py
Due: none

Fix auth: redirect to homepage after login, add password show/hide toggle
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Auth.tsx
Due: frontend

Fix resume builder header, add scrolling testimonials, pricing comparison table
  frontend/src/components/ui/testimonials-section.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Pricing.tsx
  frontend/src/pages/ResumeBuilder.tsx
Due: frontend

Load all jobs on page load with 25/page pagination
  frontend/src/pages/JobsPage.tsx
Due: frontend

Fix auth: stay on current page after signin, remove beta text from pricing
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Auth.tsx
  frontend/src/pages/Pricing.tsx
Due: frontend

Change footer email to contact@applyx.in
  frontend/src/components/Footer.tsx
Due: frontend

Fix auth: use single AuthContext for consistent auth state across all components
  frontend/src/hooks/useAuth.ts
Due: frontend

Fix Supabase auth: add explicit session persistence and detectSessionInUrl
  frontend/src/lib/supabase.ts
Due: frontend

Add auth callback route to properly handle OAuth redirect with session tokens
  frontend/src/App.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/AuthCallback.tsx
Due: frontend

Fix job search 422 error, faster auth redirect using navigate
  frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/JobsPage.tsx
Due: frontend

Add LiveKit integration with Deepgram STT for real-time AI interview
  backend/app/agents/interview_agent.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/livekit.py
  backend/app/core/config.py
  backend/app/core/livekit_config.py
  backend/app/main.py
  backend/requirements.txt
  frontend/src/hooks/useLiveKitInterview.ts
  frontend/src/services/livekitService.ts
Due: backend, frontend

Add test script for Deepgram STT, edge-tts TTS, and LiveKit
  backend/test_deepgram.py
Due: none

Fix test script for Deepgram SDK v3 and livekit-api
  backend/test_deepgram.py
Due: none

Fix test script to handle multiple SDK versions
  backend/test_deepgram.py
Due: none
