Repository Fatal777/ApplyX: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix serverless functions: add statusCode and body wrapper for DO web actions
  serverless/packages/ai/ats-analysis/__main__.py
  serverless/packages/ai/job-match/__main__.py
Due: none

Improve ATS scoring: balanced content-focused criteria instead of strict formatting
  serverless/packages/ai/ats-analysis/__main__.py
Due: none

Fix Overall Score to use ATS data and show current analysis time
  frontend/src/pages/ResumeAnalysis.tsx
Due: frontend

Fix Edit in Builder: fetch backend documents by numeric ID and import to store
  frontend/src/pages/ResumeEditor.tsx
Due: frontend

Fix Edit in Builder: use createDefaultResume as base with proper sections/icons structure
  frontend/src/pages/ResumeEditor.tsx
Due: frontend

Add isLoading state to prevent render during async document fetch
  frontend/src/pages/ResumeEditor.tsx
Due: frontend

Filter null items from backend arrays to prevent render crashes
  frontend/src/pages/ResumeEditor.tsx
Due: frontend

Fix TypeScript errors with proper type casting
  frontend/src/pages/ResumeEditor.tsx
Due: frontend

Add resume-parser serverless function using GPT-oss-20b for resume parsing
  backend/app/api/routes/resumes.py
  backend/app/core/config.py
  serverless/packages/ai/resume-parser/__main__.py
  serverless/packages/ai/resume-parser/requirements.txt
  serverless/project.yml
Due: backend

Use GPT-oss-120b for better resume parsing accuracy
  serverless/packages/ai/resume-parser/__main__.py
Due: none

feat: Introduce core application structure, routing, Live PDF Editor, and Resume Analysis pages.
  frontend/src/App.tsx
  frontend/src/components/pdf-editor/InteractivePdfViewer.tsx
  frontend/src/pages/LivePdfEditor.tsx
  frontend/src/pages/ResumeAnalysis.tsx
Due: frontend

Implement Live PDF Editor with Overlay system and Hybrid architecture
  frontend/src/components/pdf-editor/EditableOverlay.tsx
  frontend/src/components/pdf-editor/InteractivePdfViewer.tsx
Due: frontend

Live PDF Editor V2: Advanced matching, PDF export, zoom controls
  frontend/src/components/pdf-editor/InteractivePdfViewer.tsx
  frontend/src/pages/LivePdfEditor.tsx
  frontend/src/services/pdfExportService.ts
Due: frontend

Fix: Use correct resume ID for PDF fetching in Live Editor
  frontend/src/pages/LivePdfEditor.tsx
  frontend/src/pages/ResumeAnalysis.tsx
Due: frontend

Fix: Remove duplicate LivePdfEditor import
  frontend/src/App.tsx
Due: frontend

Fix: Remove react-pdf CSS imports that break build
  frontend/src/pages/LivePdfEditor.tsx
Due: frontend

Fix: Add Error type cast for SentryErrorBoundary
  frontend/src/App.tsx
Due: frontend

Add missing route for LivePdfEditor
  frontend/src/App.tsx
Due: frontend

Add /resumes/{id}/pdf endpoint to serve original PDF files
  backend/app/api/routes/resumes.py
Due: backend

Fix: Use supabase session token for PDF authentication
  frontend/src/pages/LivePdfEditor.tsx
Due: frontend

Fix: Read PDF directly from file_path instead of stored_filename
  backend/app/api/routes/resumes.py
Due: backend

Fix: Use activeDocument directly as object (not string ID)
  frontend/src/components/pdf-editor/InteractivePdfViewer.tsx
Due: frontend

Fix null reference errors in resume builder templates
  frontend/src/components/resume-preview/templates/ClassicTemplate.tsx
  frontend/src/components/resume-preview/templates/ModernTemplate.tsx
  frontend/src/pages/ResumeEditor.tsx
  interview requirements.md
Due: frontend

feat: Introduce core application configuration, production deployment setup, and initial AI interview feature.
  backend/app/agents/interview_agent.py
  backend/app/core/config.py
  backend/docker-compose.prod.yml
  backend/requirements.txt
  frontend/src/components/interview/InterviewRoom.tsx
Due: backend, frontend

Fix: Remove duplicate sentry-sdk causing version conflict
  backend/requirements.txt
Due: none

Fix: Use VoicePipelineAgent instead of deprecated VoiceAssistant for livekit-agents v1.3.x
  backend/app/agents/interview_agent.py
Due: backend

Fix: Use livekit.agents.voice.Agent for v1.2.18
  backend/app/agents/interview_agent.py
Due: backend

Fix: Add 'start' command to interview-agent service
  backend/docker-compose.prod.yml
Due: none

Fix: Add null filter to prevent crash in PersonalInfoEditor when field.icon is null
  frontend/src/components/resume-editor/basic/PersonalInfoEditor.tsx
Due: frontend

Add livekit-client dependency for voice interview
  frontend/package.json
Due: none

Fix: Increase job search limit from 50 to 100 to match frontend request
  backend/app/api/routes/jobs.py
Due: backend

Fix: Remove old transcription hook references causing ReferenceError
  frontend/src/components/interview/InterviewRoom.tsx
Due: frontend

Fix: Remove final interimText reference causing ReferenceError
  frontend/src/components/interview/InterviewRoom.tsx
Due: frontend

Fix: Use ChatContext.add_message() instead of deprecated append() for livekit-agents 1.2.18
  backend/app/agents/interview_agent.py
Due: backend

Fix: Wrap ChatMessage content in list as required by livekit-agents 1.2.18
  backend/app/agents/interview_agent.py
Due: backend

Fix: Use keyword args for add_message as required by livekit-agents 1.2.18
  backend/app/agents/interview_agent.py
Due: backend

Fix: Use correct VoiceAgent params for livekit-agents 1.2.18 - add instructions, remove unsupported args
  backend/app/agents/interview_agent.py
Due: backend

Fix: Use AgentSession.start() pattern for livekit-agents 1.2.18
  backend/app/agents/interview_agent.py
Due: backend

Integrate LiveKit interview agent and Gradient feedback flow
  backend/.env.example
  backend/Dockerfile.livekit-agent
  backend/app/agents/__init__.py
  backend/app/agents/interview_agent.py
  backend/app/agents/interview_prompts.py
  backend/app/api/routes/livekit.py
  backend/app/core/config.py
  backend/app/services/gradient_service.py
  backend/docker-compose.prod.yml
  backend/docker-compose.yml
  backend/requirements.txt
  frontend/src/components/interview/InterviewRoom.tsx
  frontend/src/components/interview/TranscriptionDisplay.tsx
  frontend/src/components/interview/VoiceAgent.tsx
  frontend/src/hooks/useLiveKitInterview.ts
  frontend/src/services/livekitService.ts
  removekey.md
Due: backend, frontend

Fix CI: track package-lock.json (was gitignored)
  .gitignore
  frontend/package-lock.json
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/app/tasks/**, backend/app/db/database.py, backend/alembic/**, backend/scripts/**, **/tests/**, **/__pycache__/**, **/conftest.py
  frontend: any of: frontend/src/, but not: backend/app/tasks/**, backend/app/db/database.py, backend/alembic/**, backend/scripts/**, **/tests/**, **/__pycache__/**, **/conftest.py
